<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscriptors</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="app.js" defer></script>
  </head>

  <body>
    <form id="formulario" v-on:submit="mensaje" action="#">
      <span v-if="img()!=''">
        <img style="width: 50px; height: 50px;" v-bind:src="((true)?img():'')"><br>
      </span>
      Nom: <input v-model="nom" type="text" name="nom" /><br>
      Cognom:
      <input v-model="cognom" type="text" name="cognom" /><br>
      Correu:
      <input v-model="mail" type="text" name="mail" /><br>
      Tipo de usuario:
      <input v-model="tipo" type="radio" name="tipo" value="client">Client</input>

      <input v-model="tipo" type="radio" name="tipo" value="venedor">Venedor</input><br>
      <span v-if="tipo=='client'">
        <input type="checkbox" name="int-cli">Recibir ofertas</input><br>
      </span>
      <span v-if="tipo=='venedor'">
        <input type="checkbox" name="int-ven">Recibir cosas de vendedores yo k se</input><br>
      </span>
      <span v-if="alerta!=''">{{ alerta }}<br></span>
      <input type="submit" value="Enviar" />

    </form>
  </body>

</html>